In [1]:

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

# Primer ejercico

In [40]:
print(np.zeros(10))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

# Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1

In [3]:
vector_ceros = np.zeros(10)
vector_ceros[4] = 1
print(vector_ceros)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

# Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.

In [10]:
vector = np.random.rand(50)
print(vector)
vector_rev = vector[::-1]
print(vector_rev)

[3.98768721e-01 6.61797827e-01 5.69238180e-01 1.88039906e-01
 8.78507495e-01 1.71463618e-01 6.56085381e-01 3.26377063e-01
 2.74352920e-01 1.99562292e-01 3.94701168e-01 5.46487527e-01
 7.48923769e-01 8.51556375e-02 7.78912233e-01 2.06947725e-01
 7.27060065e-01 7.78226526e-02 8.41758118e-01 7.99280178e-01
 2.67363605e-01 9.35502934e-01 2.08531115e-01 1.01127623e-01
 2.19493107e-01 4.23199600e-03 6.96405592e-01 4.59201732e-01
 3.99011970e-01 3.59494273e-01 5.38101262e-01 1.68214319e-01
 4.32791432e-01 4.30684493e-01 4.76731149e-02 5.36948610e-01
 9.84616113e-01 8.17177385e-01 2.53553244e-01 5.06881777e-01
 3.19800098e-01 7.45604177e-05 9.10776147e-02 9.15112525e-01
 1.56236878e-01 6.99260672e-01 9.41643586e-01 1.45094300e-01
 4.82985302e-01 3.48712442e-01]
[3.48712442e-01 4.82985302e-01 1.45094300e-01 9.41643586e-01
 6.99260672e-01 1.56236878e-01 9.15112525e-01 9.10776147e-02
 7.45604177e-05 3.19800098e-01 5.06881777e-01 2.53553244e-01
 8.17177385e-01 9.84616113e-01 5.36948610e-01 4.76731149e-02
 4.30684493e-01 4.32791432e-01 1.68214319e-01 5.38101262e-01
 3.59494273e-01 3.99011970e-01 4.59201732e-01 6.96405592e-01
 4.23199600e-03 2.19493107e-01 1.01127623e-01 2.08531115e-01
 9.35502934e-01 2.67363605e-01 7.99280178e-01 8.41758118e-01
 7.78226526e-02 7.27060065e-01 2.06947725e-01 7.78912233e-01
 8.51556375e-02 7.48923769e-01 5.46487527e-01 3.94701168e-01
 1.99562292e-01 2.74352920e-01 3.26377063e-01 6.56085381e-01
 1.71463618e-01 8.78507495e-01 1.88039906e-01 5.69238180e-01
 6.61797827e-01 3.98768721e-01]

# Crear una matriz de 3 x 3 con valores del cero al 8

In [8]:

matriz = np.array(range(9))
matriz = matriz.reshape(3, 3)

print(matriz)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

# Encontrar indices que no sean 0 en el arreglo

In [18]:
indices_sin_cero =  np.where(np.array([1,2,0,0,4,0]) != 0)
indices_sin_cero

(array([0, 1, 4], dtype=int64),)

# crear matriz identidad

In [21]:
print(np.identity(3))

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

# Crear una matriz 3 x 3 x 3 con valores randomico

In [20]:
print(np.random.rand(3, 3, 3))

[[[6.94259430e-01 8.65276692e-01 7.59501887e-01]
  [3.43603446e-01 8.93419191e-01 7.77411736e-01]
  [7.74008070e-01 7.33540168e-01 1.52904005e-02]]

 [[5.71883804e-01 3.22209184e-01 9.62304688e-01]
  [3.98093877e-01 4.33907020e-02 9.16260679e-01]
  [1.28052584e-01 3.10397135e-01 8.62333868e-01]]

 [[4.03875433e-02 8.53930080e-01 6.23647148e-01]
  [3.58485595e-06 6.60823127e-01 7.97157941e-01]
  [3.14229881e-01 5.18420261e-01 7.05434308e-01]]]

#  Crear una matriz 10 x 10 y encontrar el mayor y el menor

In [24]:
matriz = np.random.rand(10, 10)

print("El mayor es: ", matriz.max(), " Y el menor sera: ", matriz.min())

El mayor es:  0.9908372795302638  Y el menor sera:  0.00035938602703899925

# Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)

In [25]:
from scipy import ndimage
from scipy import misc

In [33]:
mapache = misc.face()
print(np.unique(mapache.reshape(-1, mapache.shape[2]), axis=0))

[[  0   0   5]
 [  0   0   7]
 [  0   0   9]
 ...
 [255 248 255]
 [255 249 255]
 [255 252 255]]

# ¿Como crear una serie de una lista, diccionario o arreglo?

In [34]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

serie_lista = pd.Series(mylist)
print("serie Lista: ", serie_lista)
serie_arreglo = pd.Series(myarr)
print("serie arreglo: ", serie_arreglo)
serie_diccionario = pd.Series(mydict)
print("serie diccionario: ", serie_diccionario)

serie Lista:  0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
serie arreglo:  0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
serie diccionario:  a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

# ¿Como convertir el indice de una serie en una columna de un DataFrame?

In [37]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

# ¿Como obtener los items que esten en una serie A y no en una serie B?

In [39]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
print(ser1[~ser1.isin(ser2)])

0    1
1    2
2    3
dtype: int64

#  ¿Como combinar varias series para hacer un DataFrame?

In [45]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
## concatenamos
df = pd.Series(np.column_stack((ser1,ser2)).flatten())
#Data frame
df = pd.DataFrame({'ser 1': ser1, 'ser 2': ser2})
df

   ser 1  ser 22
0      a       0
1      b       1
2      c       2
3      e       3
4      d       4
5      f       5
6      g       6
7      h       7
8      i       8
9      j       9
10     k      10
11     l      11
12     m      12
13     n      13
14     o      14
15     p      15
16     q      16
17     r      17
18     s      18
19     t      19
20     u      20
21     v      21
22     w      22
23     x      23
24     y      24
25     z      25

# ¿Como obtener los items que no son comunes en una serie A y serie B?

In [46]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
print(ser1[ser1.isin(ser2)])

3    4
4    5
dtype: int64

# ¿Como obtener el numero de veces que se repite un valor en una serie?

In [51]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

c    8
a    7
e    4
f    3
g    3
h    2
b    2
d    1
dtype: int64

#  ¿Como mantener los 2 valores mas repetidos de una serie, y a los demas valores cambiarles por 0 ?

In [52]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
valores_repetidos = ser.value_counts()
valores_repetidos[2:] = 0
print(valores_repetidos)

3    5
4    3
2    0
1    0
dtype: int64

# Como anadir series vertical u horizontalmente a un DataFrame

In [56]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
df = pd.Series(np.column_stack((ser1,ser2)).flatten())
df = pd.DataFrame({'ser 1': ser1, 'ser 2': ser2})
print(df)

   ser 1 ser 2
0      0     a
1      1     b
2      2     c
3      3     d
4      4     e

# ¿Como importar solo columnas especificas de un archivo csv?

In [53]:
# esportaremos del dataset la columnas crim , age rad
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'age','rad'])
df

         crim    age  rad
0     0.00632   65.2    1
1     0.02731   78.9    2
2     0.02729   61.1    2
3     0.03237   45.8    3
4     0.06905   54.2    3
5     0.02985   58.7    3
6     0.08829   66.6    5
7     0.14455   96.1    5
8     0.21124  100.0    5
9     0.17004   85.9    5
10    0.22489   94.3    5
11    0.11747   82.9    5
12    0.09378   39.0    5
13    0.62976   61.8    4
14    0.63796   84.5    4
15    0.62739   56.5    4
16    1.05393   29.3    4
17    0.78420   81.7    4
18    0.80271   36.6    4
19    0.72580   69.5    4
20    1.25179   98.1    4
21    0.85204   89.2    4
22    1.23247   91.7    4
23    0.98843  100.0    4
24    0.75026   94.1    4
25    0.84054   85.7    4
26    0.67191   90.3    4
27    0.95577   88.8    4
28    0.77299   94.4    4
29    1.00245   87.3    4
..        ...    ...  ...
476   4.87141   93.6   24
477  15.02340   97.3   24
478  10.23300   96.7   24
479  14.33370   88.0   24
480   5.82401   64.7   24
481   5.70818   74.9   24
482   5.73116   77.0   24
483   2.81838   40.3   24
484   2.37857   41.9   24
485   3.67367   51.9   24
486   5.69175   79.8   24
487   4.83567   53.2   24
488   0.15086   92.7    4
489   0.18337   98.3    4
490   0.20746   98.0    4
491   0.10574   98.8    4
492   0.11132   83.5    4
493   0.17331   54.0    6
494   0.27957   42.6    6
495   0.17899   28.8    6
496   0.28960   72.9    6
497   0.26838   70.6    6
498   0.23912   65.3    6
499   0.17783   73.5    6
500   0.22438   79.7    6
501   0.06263   69.1    1
502   0.04527   76.7    1
503   0.06076   91.0    1
504   0.10959   89.3    1
505   0.04741   80.8    1

[506 rows x 3 columns]